name: Docker Build/Publish Release
on:
  workflow_call:
    inputs:
      platforms:
        type: string
        required: false
        default: linux/amd64,linux/arm/v7,linux/arm64
    secrets:
      DOCKER_USERNAME:
        required: true
      DOCKER_PASSWORD:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Define revision
      id: revision
      run: |
        BRANCH=$(git symbolic-ref --short HEAD)
        echo "branch=$BRANCH" >> $GITHUB_OUTPUT
        echo "date=$(date +%F)" >> $GITHUB_OUTPUT
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Docker login
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Docker build/push
      uses: docker/build-push-action@v6
      with:
        platforms: ${{ inputs.platforms }}
        tags: |
          "${{ github.repository }}:${{ steps.revision.outputs.branch }}-${{ steps.revision.outputs.date }}"
          "${{ github.repository }}:${{ steps.revision.outputs.branch }}"
          "${{ github.repository }}:${{ steps.revision.outputs.date }}"
          "${{ github.repository }}:latest"
        push: true
